<h1 class="
    util-centered
    h-full
    w-6/20
    uppercase text-3xl
    md:text-3xl
    lg:text-5xl
  ">cool shop</h1>

<!-- NUMBER OF ITEMS IN THE SHOPPING CARD -->
<div class="
    util-centered
    text-2xl
    bg-red-500
    rounded-full h-8 w-8
    border-1
    translate-x-4/8 translate-y-4/8
    ml-auto
">3</div>

<!-- SHOPPING CARD (from: https://www.svgrepo.com/svg/477474/shopping-cart-17) -->
<img
  src="shopping-card.svg" alt="shopping card" class="w-10 md:w-14 lg:w-16 hover:cursor-pointer mr-8"
>
