@if (itemsCount() > 0) {
<!-- LIST OF ITEMS -->
<table class="w-[90%] m-auto mt-4">

  <thead class="border-b-1 text-left text-2xl">
    <tr class="text-amber-200">
      <th class="w-1/4">vehicle</th>
      <th class="w-1/4">price</th>
      <th class="w-1/4">amount</th>
    </tr>
  </thead>

  <tbody class="border-b-1 bg-green-800 relative">
    @for (item of cartItems(); track $index) {
    <tr class="odd:bg-green-900 h-[60px]">
      <td class="pl-1">{{ item[0] }}</td>
      <td>{{ item[1][1] | currency }}</td>

      <td>
        <div class="flex">
          <img (click)="changeCount(item, 'minus')" src="minus.svg" alt="decrement item from shopping cart"
            class="w-[20px] hover:cursor-pointer transition hover:scale-120">
          <div class="px-4 text-amber-200">{{ item[1][0] }}</div>
          <img (click)="changeCount(item, 'plus')" src="plus.svg" alt="add plus one item to shopping cart"
            class="w-[20px] hover:cursor-pointer transition hover:scale-120">
        </div>
      </td>
      <td (click)="changeCount(item, 'delete')" class="hover:cursor-pointer">
        <img routerLink="payment" src="bin.svg" alt="delete from shopping cart"
          class="w-8 md:w-8 lg:w-10 hover:cursor-pointer ml-auto mr-1 transition hover:scale-120">
      </td>
    </tr>
    }
  </tbody>
</table>

<!-- TOTAL COST -->
<div class="flex w-[90%] m-auto mt-2 text-2xl text-amber-200">
  <p class="w-1/4 uppercase">total:</p>
  <p>{{ totalPrice() | currency }}</p>
</div>

<form [formGroup]="orderForm" class="
      mt-8 rounded-lg
      border-1
      bg-green-800
      w-[90%] m-auto
      h-[500px]
      relative
      mb-4
  ">
  <div class="
    inputs flex flex-col w-[90%] m-auto pt-4
    [&>input]:m-2 [&>input]:p-2 [&>input]:border-1
    [&>input]:rounded-lg [&>input]:bg-green-700
  ">
    <input type="text" name="name" id="name" formControlName="name" placeholder="full name" class="">
    <input type="text" name="street" id="street" formControlName="street" placeholder="street" class="">
    <input type="text" name="city" id="city" formControlName="city" placeholder="city" class="">
    <input type="text" name="postal_code" id="postal_code" formControlName="postal_code" placeholder="postal code" class="">
    <input type="text" name="email" id="email" formControlName="email" placeholder="email" class="">
    <input type="text" name="phone" id="phone" formControlName="phone" placeholder="phone" class="">
  </div>

  <button class="
      absolute bottom-0 left-1/2 -translate-x-1/2
      text-2xl bg-green-900 px-4 py-2 mb-4 border-1 rounded-xl
      hover:bg-green-700 transition hover:cursor-pointer
    ">create order</button>
</form>
}
