<!-- LIST OF ITEMS -->
<table class="w-[90%] m-auto mt-4">
  <thead class="border-b-1 text-left text-2xl">
    <tr class="">
      <th class="w-1/3">vehicle</th>
      <th class="w-1/3">price</th>
      <th class="w-1/3">amount</th>
    </tr>
  </thead>

  <tbody class="border-b-1 bg-green-800">
    @for (item of cartItems(); track $index) {
      <tr class="odd:bg-green-900 text-green-100 h-[60px]">
        <td>{{ item[0] }}</td>
        <td>{{ item[1][1] | currency }} </td>

        <td>
          <div class="flex">
            <img
              (click)="changeCount(item, 'minus')"
              src="minus.svg"
              alt="shopping card"
              class="w-[20px] hover:cursor-pointer"
            >
            <div class="px-4">{{ item[1][0] }}</div>
            <img
              (click)="changeCount(item, 'plus')"
              src="plus.svg"
              alt="shopping card"
              class="w-[20px] hover:cursor-pointer"
            >
          </div>
        </td>

      </tr>
    }
  </tbody>
</table>

<!-- TOTAL COST -->
<div class="flex w-[90%] m-auto mt-2 text-2xl">
  <p class="w-1/3 uppercase">total:</p>
  <p>{{ totalPrice() | currency }}</p>
</div>
