@let vehicle_ = vehicle();

<!-- NAME -->
<h2 class="
  text-green-100
  row-start-1 col-span-6 place-self-center
  text-2xl text-center mb-4 border-b-2
">{{ vehicle_.name }}</h2>

<!-- PARAMS -->
<table>
  <thead class="w-[500px] border-b-1">
    <tr class="text-left text-amber-200">
      <th class="w-1/2">parameter</th>
      <th>value</th>
    </tr>
  </thead>

  <tbody class="border-b-1">
    @for (param of vehicle_.paramRow(); track $index) {
    <tr class="odd:bg-green-900 text-green-100">
      <td class="pl-1">{{ param[0] }}</td>
      <td class="pl-1">{{ param[1] }}</td>
    </tr>
    }
  </tbody>
</table>

<!-- FOOTER -->
<footer class="
  flex justify-between mt-auto
">
  <div class="self-center">
    <p class="
    text-amber-200
    text-2xl
  ">
      {{ vehicle_.costInCredits | currency }}
    </p>
  </div>

  @let isInCart = itemIsInCart();
  <img (click)="toggleShoppingCard()" src="shopping-card.svg" alt="shopping card" class="
    w-12 md:w-12 lg:w-12 hover:cursor-pointer hover:scale-110
    p-2 rounded-md border-1 transition
  " [class]="{
    'bg-green-600': !isInCart,
    'bg-red-700': isInCart,
    'hover:bg-emerald-800': !isInCart,
    'hover:bg-red-600': isInCart,
  }">
</footer>
