@import "tailwindcss";

@layer base {
  body {
    background-color: rgb(37, 37, 37);
    color: rgb(238, 238, 238)
  }
}

@layer components {
  .util-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* parent must have relative position */
  .util-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%;
  }
}

input.ng-invalid.ng-touched,
[formgroupname].ng-invalid.ng-touched input {
  background-color: rgb(172, 59, 59);
}

input.ng-valid.ng-touched,
[formgroupname].ng-valid.ng-touched input {
  border: 1px solid rgb(107, 189, 103);
}
