@import "tailwindcss";

@layer base {
  body {
    background-color: rgb(37, 37, 37);
    color: rgb(238, 238, 238)
  }
}

@layer components {
  .util-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* parent must have relative position */
  .util-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%;
  }
}
